@model Vidly.WebApp.ViewModel.CustomerFormViewModel

@{
    ViewBag.Title = "Create Customer";
}

<h2>Create Customer</h2>

@using (Html.BeginForm("Save", "Customer"))
{
    <div class="form-group">
        @Html.HiddenFor(c => c.Customers.Id)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Customers.Name)
        @Html.TextBoxFor( c => c.Customers.Name, new {@class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Customers.BirthDate)
        @Html.TextBoxFor(c => c.Customers.BirthDate,"{0:dd/MM/yyyy}",  new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.Customers.MemberShipTypeId)
        @Html.DropDownListFor(c => c.Customers.MemberShipTypeId, new SelectList(Model.MemberShipTypes, "Id", "Name"), "Select MemberShip Type", new {@class = "form-control" })
    </div>
    <div class="form-group">
        <div class="form-inline">
            @Html.CheckBoxFor(c => c.Customers.IsSubscribedToNewsletter, new { @class = "checkbox" })
            Suscribed to newsletters?
        </div>

    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
