;@model Vidly.WebApp.Models.Movie

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>
<hr />


<div>
<ul>
    <li>
        Genre: @Html.DisplayFor(model => model.Genre)
    </li>
    <li>
        Date Added: @Html.DisplayFor(model => model.DateAdded)
    </li>
    <li>
        Numbers in Stocks : @Html.DisplayFor(model => model.Stock)
    </li>

</ul>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
