@model Vidly.WebApp.ViewModel.MovieFormViewModel

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title Movie</h2>

@using (Html.BeginForm("Save", "Movies"))
{
    <div>
        @Html.ValidationSummary(true, "Please fix this errors.", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Stock)
            @Html.TextBoxFor(model => model.Stock, new { @class = "form-control" } )
            @Html.ValidationMessageFor(model => model.Stock)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DateAdded)
            @Html.TextBoxFor(c => c.DateAdded, "{0:dd MMM yyyy}", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DateAdded)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GenreTypeId)
            @Html.DropDownListFor(c => c.GenreTypeId, new SelectList(Model.GenreTypes, "Id", "Name"), "Select Genre Type", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.GenreTypeId)
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}